.auto-complete-container {
  padding: 8px;
  border-right: 1px solid rgb(137, 136, 136);
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-box {
  font-size: large;
  border-radius: 4px;
  width: 300px;
  padding: 4px;
  flex: 1;
  height: 1em;
  transition: margin-left 0.5s;
}

.logo {
  height: 2.5em;
  margin-right: 2px;
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.5s, transform 0.5s;
  animation: none;
}

.input-logo-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-box:focus {
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
}

.input-box:focus + .suggestion-box {
  visibility: visible !important;
  opacity: 1 !important;
  color: black;
}

.logo-slide {
  opacity: 1 !important;
  transform: translateX(0);
}

@keyframes jumpAnimation {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-10px);
  }
}

.logo-jump {
  animation: jumpAnimation 1s infinite;
}
